<div class="swagger-ui-wrap" id="swagger-ui-<%- id %>"></div>
<script>
window.onload = function() {
  var ui = SwaggerUIBundle({
    spec: <%- swagger %>,
    dom_id: '#swagger-ui-<%- id %>',
    deepLinking: <%- swagger_ui_config.deepLinking %>,
    showExtensions: <%- swagger_ui_config.showExtensions %>,
    displayOperationId: <%- swagger_ui_config.displayOperationId %>,
    docExpansion: '<%- swagger_ui_config.docExpansion %>',
    presets: [
      SwaggerUIBundle.presets.apis,
    ],
    plugins: [
      SwaggerUIBundle.plugins.DownloadUrl
    ]
  })
}
</script>
